*{margin:0;padding:0;text-decoration: none;color: #fff;outline: none;border-style: none;}
body {margin:0; padding:29px00; font:sans-serif;background:#fff;overflow-x:hidden;} 
table,td,tr,th{font-size:15px;} 
li{list-style-type:none;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6{font-weight: bold;} 
address,cite,code,em,th {font-weight:normal; font-style:normal;} 
img{border: none;}
.admin{
	width: 260px;
	background: #537BA2;
	text-align: center;
    min-height: 640px;
    border-right: 1px 
}
.ad-logo{
	text-align: center;border-bottom: 1px dashed #E2E0E0;
	padding-bottom: 10px;margin-bottom: 20px;
}
.ad-logo img{
	border-radius: 150px;margin-bottom: 5px;
}
.ad-logo p{
	font-size: 1.2em
}
.ad-list li{
	line-height: 40px;margin-bottom: 10px;
	position: relative;cursor: pointer;
}
.ad-list li dl{
	display: none;
}
.scm {
    background: url(../img/min_bg.png) no-repeat;
   }
.admin .ad-list .li-item .li-ico {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.admin .ad-list .li-item .ic1 {
    background-position: 1px -2px;
}
.admin .ad-list .li-item .ic2 {
    background-position: 0px -32px;
}
.admin .ad-list .li-item .ic3 {
    background-position: 0px -160px;
}
.admin .ad-list .li-item .ic4 {
    background-position: 0px -57px;
}
.admin .ad-list .li-item .ic5 {
    background-position: 0px -81px;
}
.admin .ad-list .li-item .ic6 {
    background-position: -1px -105px;
}
.admin .ad-list .li-item .ic6 {
    background-position: -1px -105px;
}
.admin .ad-list .li-item .ic7 {
    background-position: 0px -133px;
}
.admin .ad-list .li-item .arrow {
    width: 13px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
     float: right;
    position: absolute;
    right: 25px;
    top: 12px;
    background-position: -63px -69px;
}
.admin .ad-list li.over .li-item .arrow {
    background-position: -63px -91px;
}