*{margin:0;padding:0;text-decoration: none;color:#575656;outline: none;border-style: none;}
body {margin:0; padding:29px00; font:sans-serif;background:#fff;overflow-x:hidden;} 
table,td,tr,th{font-size:15px;} 
li{list-style-type:none;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6{font-weight: bold;} 
address,cite,code,em,th,i {font-weight:normal; font-style:normal;} 
img{border: none;}

.main-myResume{
width:800px;height: auto;
margin:50px auto;
overflow: hidden;
}
.main-myResume .name-mr {
    height: 200px;background: #fff;
    position: relative;
}
.main-myResume .bg-name {
    
    height: 115px;
    
    border-bottom: 1px solid #eee;
}
.main-myResume .pro-name {
    height: 138px;
    padding-left: 111px;
    position: absolute;
    left: 0;
    top: 0;
}

.main-myResume .pro-name .perPhoto {
    width: 138px;
    height: 138px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #fff;
    float: left;
    margin-right: 50px;
    margin-top: 48px;
    position: relative;
    cursor: pointer;
}
.main-myResume .pro-name .perPhoto img {
    display: block;
    width: 128px;
    height: 128px;
    border: 5px solid #fff;
    border-radius: 50%;
}
.main-myResume .pro-name .wz-name {
    float: left;
    margin-top: 75px;
}
.main-myResume .pro-name .wz-name h3 {
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    overflow: hidden;
    font-weight: bold;
}
.main-myResume .pro-name .wz-name p {
    padding-top: 10px;
    line-height: 22px;
    font-size: 15px;
    width: 450px;
    height: 44px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conedBase {
    background: #efefef;
    padding: 46px 19px 40px 60px;
    font-size: 16px;
    color: #999;
}
.conedBase .edBase01 {
    clear: both;
}
.conedBase .edBase01 .lfBase01 {
    width: 341px;
    float: left;
    margin-top: 6px;
}
.wordMr {
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    color: #999;
}
.wordMr em {
    display: inline-block;
    width: 15px;
    color: #ff0000;
}
.inputMr {
    margin-left: 15px;
    position: relative;
}
.inputMr .ipt-child {
    height: 42px;
    width: 270px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}
input, select, img {
    vertical-align: middle;
}
.inputMr input.txt {
    float: left;
    margin-right: 3px;
}
input.txt {
    padding: 0;
    margin: 0;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    padding: 0 38px 0 15px;
    width: 215px;
    font-size: 16px;
    color: #555;
    display: block;
}
.conedBase .inputMr a.iptRadio {
    display: inline-block;
    width: 68px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    margin-right: 8px;
}
.ico-intxt {
    position: absolute;
    right: 10px;
    top: 18px;
}
.main-myResume i.m-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url(../img/myResume.png) no-repeat;
    vertical-align: middle;
}

.main-myResume i.i-boy {
    width: 21px;
    height: 21px;
    background-position: -120px -100px;
    margin-right: 6px;
}
.main-myResume i.i-girl {
    width: 21px;
    height: 21px;
    background-position: -157px -100px;
    margin-right: 6px;
}
.main-myResume i.i-dn {
    width: 12px;
    height: 7px;
    background-position: -32px 0;
}
.yearSelectWrap {
    position: relative;
}

.calender {
    width: 270px;
    top: 0;
    left: 0;
    border: 1px #ddd solid;
    background: #FFF;
    position: absolute;
    display: none;
    z-index: 100;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: #666666;
    font-size: 12px;
}
.calender .other, .calender .getyear {
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 3px 0px;
    background: #f5f5f5;
    margin: 3px;
}
.yearSelect {
    display: block;
    position: relative;
    cursor: pointer;
}
.calender_ys.on {
    display: block;
}

.calender_ys {
    display: none;
    height: 152px;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    background: #fff;
    border: 1px solid #C3C3C3;
    overflow: hidden;
}

.calender_ys_pre {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon-ar {
    display: block;
    background-image: url(../img/arrow.png);
   
}
.yearSelectWrap .ar-left {
    background-position: 0 0;
    width: 7px;
    height: 14px;
    margin: 11px auto;
}
.calendertb {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.calendertb tr, .calendertb tr td {
    height: 40px;
    line-height: 40px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: center;cursor: pointer;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}
.inputMr .iptLast {
    color: #C3C3C3;
    position: absolute;
    right: 70px;
    top: 12px;
}
.selc-child {
    float: left;
    background: #FFF;
    margin-right: 10px;
    position: relative;
}
.selc-child span {
    width: 72px;
    height: 28px;
    border: 1px solid #c3c3c3;
    color: #666;
    position: relative;
    line-height: 28px;
    padding: 0 27px 0 9px;
    text-align: center;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inputMr .ipt-child .ipt-spn {
    padding: 0 15px;
    height: 40px;
    border: 1px solid #ddd;
    width: 238px;
    line-height: 40px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #555;
    text-align: left;
}
.ar-dn {
    background-position: 0 -28px;
    width: 12px;
    height: 7px;
}
.yearSelect .icon-ar {
    position: absolute;
    right: 5px;
    top: 11px;
}
.inputMr .ipt-child .ipt-spn i {
    position: absolute;
    top: 17px;
    right: 9px;
}
.inputMr .ipt-child ul {
    z-index: 1;
    border-color: #ddd;
}

.inputMr .ipt-child ul li {
    border-color: #ddd;
    height: 30px;width: 100%;
    cursor: pointer;
}
.sSelectOn ul {
    display: block;
}
.selc-child ul {
    display: none;
    position: absolute;
    background: #FFF;
    width: 100%;
    border-bottom: 1px solid #C3C3C3;
    border-top: 1px solid #C3C3C3;
    margin-top: -1px;
}
.selc-child ul li {
    border-left: 1px solid #C3C3C3;
    color: #666;
    border-right: 1px solid #C3C3C3;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 28px;
    cursor: pointer;
    transition: padding-left .3s;
    -moz-transition: padding-left .3s;
    -webkit-transition: padding-left .3s;
    -o-transition: padding-left .3s;
}
.conedBase .inputMr a.iptRadio.checked {
    background: #a2c2d1;
    border: 1px solid #a2c2d1;
    color: #fff;
}
.conedBase .edBase01 .rtBase01 {
    width: 341px;
    float: left;
    margin-top: 6px;
}


.jpcTi {
    display: inline-block;
    margin: 5px 0 5px 16px;
    height: 20px;
    padding: 0 5px;
    color: #666;
    font: 12px/20px simsun;
    cursor: pointer;
}
.jp-l1 .ant {
    background-color: #B9D5E7;
    color: #FFF;
}
.jp-l1 {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 232px;
    width: 113px;
    display: visible;
}
.jp-l1 li {
    text-align: left;
    color: #666;
    width: 96px;
    cursor: pointer;
    line-height: 34px;
}
.fr {
    float: right;
}

.inputMr.ta {
    height: 124px;
    border: 1px solid #ddd;
    background-color: #FFF;
    width: 608px;
}
.inputMr .num {
    position: absolute;
    right: 10px;
    bottom: 6px;
    background-color: #FFF;
    text-align: right;
}
.inputMr .num em {
    color: #ff0000;
}
textarea {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 32px;
    padding: 0 15px;
    width: 578px;
    height: 94px;
    font-size: 16px;
    color: #555;
    display: block;
    resize: none;
}
.wrap-btn {
    text-align: center;
    padding-top: 20px;
    clear: both;
}
input.btn {
    height: 34px;
    line-height: 34px;
    border: 1px solid #46B287;
    background: #48BE94;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
    padding: 0 20px;
    margin: 0 8px;
    font-weight: bold;
    cursor: pointer;
}
input.btn.white {
    border-color: #aaa;
    background: #fff;
    color: #999;
}
.default {
    width: 223px;
    padding: 7px;
    background: #b2b2b2;
    background: rgba(0,0,0,.5);
    overflow: hidden;
    position: absolute;
    left: 130px;
    top: 100px;
    z-index: 2;
    display:none;
}
.default div {
    width: 223px;
    padding: 26px 0;
    line-height: 22px;
    font-size: 15px;
    background: #fff;
    text-align: center;
}
input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}
input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    border: initial;
}
.perPhoto input {
    display: none;
}

/*基本信息内容*/
.inforBase {
    margin-top: 20px;
    overflow: hidden;
    background: #fff
}
.changeBase {
    text-align: right;
    margin-right: 30px;
    cursor: pointer;
}
.main-myResume i.i-pen {
    width: 17px;
    height: 19px;
    background-position: -282px 0px;
}
.inforBase .lfInBase, .inforBase .rtInBase {
    width: 328px;
    padding-left: 56px;
    float: left;
    line-height: 28px;
}
.inforBase li {
    margin-top: 7px;
    overflow: hidden;
}
.main-myResume i.i-person {
    width: 15px;
    height: 15px;
    background-position: -116px 0px;
}
.inforBase li .conInBase {
    margin-left: 33px;
}
.inforBase li .conInBase em {
    margin-right: 15px;
}
.inforBase li i.m-icon {
    float: left;
    margin-top: 7px;
}
.main-myResume i.i-file {
    width: 15px;
    height: 15px;
    background-position: -144px 0px;
}
.main-myResume i.i-target {
    width: 15px;
    height: 15px;
    background-position: -172px 0px;
}
.main-myResume i.i-phone {
    width: 15px;
    height: 15px;
    background-position: -200px 0px;

}
